<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <menuitem id="menu_besco_management" name="BESCO" parent="base.menu_administration" sequence="100"/>

        <menuitem id="menu_address"  parent="menu_besco_management" name="Quản lý địa chỉ"/>

        <menuitem action="base.action_country" id="menu_feosco_country" parent="menu_address" sequence="30"/>

        <menuitem name="Dữ liệu mẩu" id="menu_besco_master_data"
        		parent="menu_besco_management"
        		/>
            	
          

    </data>
</openerp>
